*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Geologica';
}

:root{
    --color-principal: #BE1C2D;
    --color-secundario: #80101B;
    --sombra-blanca: 0px 0px 5px #fff;
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--color-secundario);
}

body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    width: 100%;
    height: 100px;
    min-height: 100px;
    background: linear-gradient(to right, #430808, var(--color-principal));
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#div-logo{
    margin-left: 20px;
}

#div-logo img{
    height: 90px;
    object-fit: cover;
}

nav{
    width: 800px;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: var(--sombra-blanca);
}

#boton-login{
    cursor: pointer;
    background-color: transparent;
    font-size: 1em;
    padding: .5em 1em;
    color: #fff;
    border: none;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    filter: drop-shadow(var(--sombra-blanca));
    margin-right: 20px;
}

h1{
    color: var(--color-principal);
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(1em + 2vw);
    margin-top: 150px;
    letter-spacing: 10px;
    font-weight: bolder;
}

#form-rastreo{
    width: calc(1em + 30vw);
    width: 500px;
    min-height: 250px;
    background-color: #86858536;
    border: 1px solid #4040404d;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

legend{
    font-size: 1.6em;
    text-shadow: 0 0 5px #555;
}

p{
    font-size: 1.2em;
    margin: 10px 0;
    text-shadow: 0 0 5px #555;
}

#codigo-rastreo{
    font-size: 1.2em;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    filter: drop-shadow(2px 2px 5px #333);
}

#submit-rastreo{
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    outline: none;
    margin-left: 10px;
    transition-duration: .1s;
    filter: drop-shadow(2px 2px 5px #333);
}

#submit-rastreo:hover{
    cursor: pointer;
    background-color: var(--color-principal);
    color: #fff;
}

footer{
    width: 100%;
    min-height: 350px;
    background-color: #000;
    margin-top: 200px;
    display: flex;
    padding: 30px;
}

#div-footer1{
    flex-grow: 1;
    height: 100%;
    padding: 30px;
}

h2{
    color: #fff;
    text-shadow: var(--sombra-blanca);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
}

ul{
    margin: 40px 80px;
    color: #fff;
    font-size: calc(.7em + .7vw);
    width: calc(5em + 5vw);
}

li{
    line-height: 2;
}

#div-footer2{
    flex-grow: 2;
    height: 100%;
    padding: 30px;
}

#form-mensaje{
    width: 80%;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#div-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#div-inputs input{
    width: 200px;
    font-size: 1.2em;
    padding: .5rem;
    background-color: transparent;
    border: none;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
}

#form-mensaje input::placeholder{
    color: #ddd;
}

#div-textarea{
    display: flex;
    align-items: center;
}

textarea{
    font-size: 1.2em;
    padding: .5rem;
    background-color: transparent;
    border: none;
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    resize: none;
}

textarea::placeholder{
    color: #ddd;
}

#div-submit-mensaje{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#div-submit-mensaje input{
    font-size: 1.2em;
    padding: .5rem;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    
}


/* MEDIA QUERIES */

@media screen and (max-width: 1366px){
    
    #div-footer1{
        flex-grow: 1;
    }

}

@media screen and (max-width: 1060px){
    
    nav{
        width: 600px;
    }

}

@media screen and (max-width: 900px){
    
    header{
        flex-wrap: wrap;
        height: 400px;
    }

    nav{
        width: 100%;
        height: 150px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }

    #div-logo{
        margin: 0;
    }

    #boton-login{
        margin: 0;
    }

}

@media screen and (max-width: 620px){
    
    #form-rastreo{
        width: 95%;
    }

    #div-datos-rastreo{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    #codigo-rastreo, #submit-rastreo{
        width: 200px;
    }

    #submit-rastreo{
        margin: 20px 0 0;
    }

}